/* Slideshow styles */
/* ----------------------------------------------------------*/

.slideshow-content {
  background-color: $grey;
}

// The whole module
#slideshow {
  display: table;
  height: 500px;
  margin: 0 auto;
  max-width: 2060px;
  position: relative;
  width: calc(85% + 60px);
}

// Previous/next buttons
.slideshow-nav {
  @include v(transition, opacity 0.3s);
  cursor: pointer;
  display: table-cell;
  opacity: 0.5;
  text-align: center;
  vertical-align: middle;
  width: 30px;

  &:hover { opacity: 1; }
}

#slides {
  display: table-cell;
  width: calc(100% + 60px);
}

// Slides container
#slideshow-slides {
  height: 450px;
}

// The individual slide
.slideshow-slide {
  @include v(transition, opacity 0.3s);
  opacity: 0;
  height: calc(100% - 3.5em);
  position: absolute;
  list-style: none;
  width: calc(100% - 60px);
  z-index: 0;
}

// The content of the slide
.slideshow-slide-content {
  background-position: center center;
  background-size: cover;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;

  &:hover {
    .slideshow-slide-info {
      transform: translateX(1em);
    }
  }
}

.slideshow-slide-info {
  @include v(transition, transform 0.25s);
  background-color: $grey;
  bottom: 2em;
  color: #fff;
  max-width: 40%;
  padding: 1.5em;
  position: absolute;
  right: 2em;

  hgroup {
    display: table-cell;
    padding-right: 2em;

    h1 {
      font-size: 1.75em;
      font-weight: 300;
      line-height: 1.25em;
      margin-bottom: 0.5em;
    }

    h2 {
      font-size: 1.25em;
      font-weight: 300;
      line-height: 1.4em;
    }
  }

  .slide-link {
    display: table-cell;
    vertical-align: middle;

    .slide-arrow {
      @include v(border-radius, 50%);
      border: 1px solid #fff;
      height: 2em;
      padding-left: 0.75em;
      padding-top: 0.15em;
      width: 2em;

      svg {
        margin: 0 auto;
      }
    }
  }
}

// The title links at the bottom
#slideshow-cards {
  display: table;
  position: relative;
  width: 100%;
  z-index: 1000;
}

// The individual link "card"
.slideshow-card {
  background-color: $grey;
  border: 1px solid $dark-grey;
  color: #fff;
  cursor: pointer;
  display: table-cell;
  font-weight: 300;
  height: 3.5em;
  list-style: none;
  padding: 1em 0.75em;
  width: 25%;
}

// Handles the current state
@for $i from 1 through 4 {
  .slide-#{$i} {
    .slideshow-slide:nth-child(#{$i}) {
      opacity: 1;
      z-index: 100;
    }

    .slideshow-card:nth-child(#{$i}) {
      background-color: $dark-grey;
    }
  }
}
