$dark-grey: #0d1117;
$grey: #242424;

/* Base */
/* ----------------------------------------------------------*/

@font-face {
  font-family: 'Nexa Light';
  src: local('Nexa Light'),
       url('../fonts/NexaLight.otf') format('opentype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: local('OpenSans-Regular'),
       url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: local('OpenSans-Light'),
       url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: local('OpenSans-Semibold'),
       url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}

html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #d5d5d5;
  display: table;
  font: 400 16px/1.5em 'Open Sans', Helvetica, Arial, sans-serif;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }


/* Utility */

.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  background: #0d1117;
  color: #fff;
  display: table-row;
  width: 100%;

  .wrap {
    min-height: 150px;
    padding: 3.5em 30px;
  }
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #fff;
  font-family: 'Nexa Light';
  font-size: 46px;
  letter-spacing: -1px;
  line-height: 56px;
  letter-spacing: 4px;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.site-subtitle {
  color: #bebfbf;
}

.site-nav {
  line-height: 56px;
  margin-top: 2em;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  color: #fff;
  font-size: 1.25em;
  font-weight: 300;
  margin-right: 20px;
}

/* Site footer */

.site-footer {
  background-color: #242424;
  border-top: 1px solid #e8e8e8;
  display: table-row;
  width: 100%;

  .wrap {
    background-color: #18191a;
    color: #fff;
    display: table;
    height: 100%;
    padding: 0;
    width: 100%;
  }
}

.footer-info,
.footer-map {
  display: table-cell;
  width: 50%;
}

.footer-info {
  padding: 3.5em 30px;
  vertical-align: middle;

  .top {
    border-radius: 50%;
    border: 1px solid #575758;
    color: #575758;
    display: block;
    font-size: 0.9em;
    height: 2em;
    line-height: 2em;
    margin-bottom: 2em;
    text-align: center;
    text-decoration: none;
    transition: border-color 0.3s, color 0.3s;
    width: 2em;

    &:hover {
      border-color: #fff;
      color: #fff;
    }
  }

  .footer-heading {
    font: 300 2.5em 'Nexa Light';
    letter-spacing: 1px;
  }

  .footer-contact {
    li {
      list-style: none;
      font-weight: 300;
      margin: 0.5em 0;
    }
  }

  .footer-social {
    margin: 1.5em 0 3.5em 0;

    li {
      list-style: none;

      a {
        color: #fff;
      }
    }

    .github-icon-svg,
    .twitter-icon-svg {
      display: inline-block;
      width: 16px;
      height: 16px;
      position: relative;
      top: 3px;
    }
  }

  .footer-uoft a {
    color: #575758;
    font: 1.25em Centaur, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    transition: color 0.3s;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.footer-map {
  height: 100%;
  vertical-align: top;
  width: 100%;

  .gm-style img {
    background: none !important;
    max-width: none !important;
  }

  .gm-style-iw {
    color: #000;
    display: block;
    height: auto !important;
    line-height: 18px;
    overflow: hidden !important;
    white-space: nowrap;
    width: 100% !important;
  }

  #gmap_canvas {
    height: 100%;
    width: 100%;
  }
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  display: table-row;
  height: 100%;

  .wrap {
    background-color: #fff;
    height: 100%;
  }
}


/* Home styles */
/* ----------------------------------------------------------*/

.home {
  padding-bottom: 1.5em;
  width: 100%;

  h1 {
    background-color: $grey;
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0.75em;
    width: 100%;
  }
}

#hero-text {
  background-color: #e1e1e1;
  font-size: 2.25em;
  font-weight: 300;
  padding: 1.5em 0;
  margin: 0 0 1.5em -30px;
  text-align: center;
  width: calc(100% + 60px);

  strong {
    font-weight: 600;
  }
}

#home-row {
  display: table;
  width: 100%;

  #home-row-inner {
    display: table-row;
  }

  #home-news,
  #home-events {
    display: table-cell;
    vertical-align: top;
    width: 50%;
  }

  #home-news {
    padding-right: 15px;
  }

  #home-events {
    padding-left: 15px;

    li { min-height: 5em; }

    .event-date {
      background-color: $grey;
      color: #fff;
      float: left;
      height: 5em;
      margin-right: 15px;
      text-align: center;
      padding: 10px;
      width: 5em;

      .event-month {
        font-size: 1em;
        margin-bottom: 5px;
        text-transform: uppercase;
      }

      .event-day { font-size: 2.25em; }
    }
  }

  .posts {
    background-color: #e1e1e1;
    padding: 20px;

    li + li { margin-top: 20px; }

    a { color: $grey; }
  }
}

.posts {
  list-style-type: none;

  li + li { margin-top: 1.5em; }

  .post-link {
    color: $grey;
    display: block;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 0.9em;
  }
}

.page-list {
  margin: 0 !important;
  padding: 0 !important;
}

#home-members {
  margin-top: 30px;
  width: 100%;

  .members {
    background-color: #e1e1e1;
    padding: 20px;
    text-align: center;

    a { color: $grey; }

    li {
      display: inline-block;
      vertical-align: top;
      width: 10em;

      img {
        background-color: #eee;
        border-radius: 50%;
        display: block;
        height: 5.5em;
        width: 5.5em;
        margin: 0 auto 0.5em;
      }

      .member-name { font-weight: 600; }

      .member-role { font-weight: 300; }
    }
  }
}


/* Post styles */
/* ----------------------------------------------------------*/

.post { padding-top: 1.5em; }

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 42px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow:scroll;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */


/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    color: #000;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }

}
