---
layout: page
title: Awards
permalink: /awards/
---

<div class="members-page">
  <h1>Teaching Awards</h1>
  <ul class="members-list">
    {% for member in site.data.awards.teaching_awards %}
      {% include member.html %}
    {% endfor %}
  </ul>  
  <h1>TA Awards</h1>
  <ul class="members-list">
    {% for member in site.data.awards.ta_awards %}
      {% include member.html %}
    {% endfor %}
  </ul>
  <h1>Presidents' Choice Award</h1>
  <ul class="members-list">
    {% for member in site.data.awards.presidents_choice %}
      {% include member.html %}
    {% endfor %}
  </ul>
</div>
