---
layout: page
title: Events
permalink: "/events/"
---

<iframe class="responsive-iframe"
        src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=cp18p9i0hpoa8l646468i8q45s%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=America%2FToronto"></iframe>

<ul class="posts page-list">
  {% for post in site.categories['events'] reversed %}
    {% include post-item.html %}
  {% endfor %}
</ul>

<div class="tag-cloud">
  <h3>Tags</h3>
  {% category_tag_cloud events %}
</div>
