---
layout: default
title: Computer Science Student Union
---

<div id="hero-text">
  <span>We're here for <strong>you</strong>.</span>
</div>

<div class="home">

  <div id="home-row">

    <div id="home-row-inner">

      <div id="home-news">
        <a href="/news/"><h1>News</h1></a>
        <ul class="posts">
          {% for post in site.categories['news'] limit:4 %}
            <li>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div id="home-events">
        <a href="/events/"><h1>Events</h1></a>
        <ul class="posts">
          {% for post in site.categories['events'] limit:4 %}
            <li>
              <div class="event-date">
                <p class="event-month">{{ post.date | date: "%b" }}</p>
                <p class="event-day">{{ post.date | date: "%-d" }}</p>
              </div>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <p>{{ post.description | strip_html | truncatewords: 25 }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>

  </div>

  <div id="home-members">
    <a href="/members/"><h1>Members</h1></a>
    <ul class="members">
      Something
    </ul>
  </div>

</div>
