---
layout: default
title: Computer Science Student Union
---

<div id="hero-text">
  <span>We're here for <strong>you</strong>.</span>
</div>

<div class="home">

  <div id="home-row">

    <div id="home-row-inner">

      <div id="home-news">
        <a href="/news/"><h1>News</h1></a>
        <ul class="posts">
          {% for post in site.categories['news'] limit:4 %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">
                <p class="post-link">{{ post.title }}</p>
                <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div id="home-events">
        <a href="/events/"><h1>Events</h1></a>
        <ul class="posts">
          {% for post in site.categories['events'] limit:4 %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="event-date">
                  <p class="event-month">{{ post.date | date: "%b" }}</p>
                  <p class="event-day">{{ post.date | date: "%-d" }}</p>
                </div>
                <p class="post-link">{{ post.title }}</p>
                <p>{{ post.description | strip_html | truncatewords: 25 }}</p>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>

  </div>

  <div id="home-members">
    <a href="/members/"><h1>Your 2014 - 2015 team</h1></a>
    <div class="members">
      <ul>
        {% for member in site.data.members %}
          <li>
            <a href="mailto:{{ member.email }}" title="Email {{ member.name }}">
              {% if member.pic %}
                <img src="/img/member_photos/{{ member.pic }}.jpg" alt="Photo of {{ member.name }}">
              {% else %}
                <img src="http://placehold.it/176.jpg&amp;text={{ member.name | truncatewords:1,'' }}" alt="Photo of {{ member.name }}">
              {% endif %}
              <p class="member-name">{{ member.name }}</p>
              <p class="member-role">{{ member.role }}</p>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
