---
layout: page
title: Members
permalink: /members/
---

<div class="members-page">
  <h2>Executive team</h2>
  <ul class="members-list">
    {% for member in site.data.members.execs %}
      {% include member.html %}
    {% endfor %}
  </ul>

  <h2>Senior team</h2>
  <ul class="members-list">
    {% for member in site.data.members.seniors %}
      {% include member.html %}
    {% endfor %}
  </ul>

  <h2>Junior team</h2>
  <ul class="members-list">
    {% for member in site.data.members.juniors %}
      {% include member.html %}
    {% endfor %}
  </ul>

  <h2>Media team</h2>
  <ul class="members-list">
    {% for member in site.data.members.media %}
      {% include member.html %}
    {% endfor %}
  </ul>
</div>
