---
layout: page
title: Members
permalink: /members/
nav: true
---

<div class="members-page">
  <h2>Executive team</h2>
  <ul class="members-list">
    {% for member in site.data.members-exec %}
      {% include member.html %}
    {% endfor %}
  </ul>

  <h2>Senior team</h2>
  <ul class="members-list">
    {% for member in site.data.members-senior %}
      {% include member.html %}
    {% endfor %}
  </ul>

  <h2>Junior team</h2>
  <ul class="members-list">
    {% for member in site.data.members-junior %}
      {% include member.html %}
    {% endfor %}
  </ul>

  <h2>Media team</h2>
  <ul class="members-list">
    {% for member in site.data.members-media %}
      {% include member.html %}
    {% endfor %}
  </ul>
</div>
