---
layout: page
title: Sponsors and Partners
permalink: /sponsors/
---

<div class="partners-page">
  <h2>Partners</h2>
  <ul class="sponsor-grid">
    {% for partner in site.data.partners.partners %}
      <a href="{{ partner.link }}">
        <img class="partner-logo" src="../img/partners/{{ partner.img }}.jpg">
      </a>
    {% endfor %}
  </ul>

  <h2>Sponsors</h2>
  <ul class="sponsor-grid">
    {% for partner in site.data.partners.sponsors %}
      <a href="{{ partner.link }}">
        <img class="partner-logo" src="../img/partners/{{ partner.img }}.jpg">
      </a>
    {% endfor %}
  </ul>
</div>
