---
layout: page
title: Store
permalink: /store/
---

<p>Come by the CSSU office to check out our wide selection of drinks and snacks!<p>

<section class="store-left">
  <table>
    <thead>
      <tr>
        <th>Drink</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for drink in site.data.store-prices.drinks %}
      <tr>
        <td>{{ drink.name }}</td>
        <td>{{ drink.price }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Snack</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for snack in site.data.store-prices.snacks %}
      <tr>
        <td>{{ snack.name }}</td>
        <td>{{ snack.price }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<section class="store-right">
  <iframe class="shirt-form" src="https://docs.google.com/forms/d/1ATTDyAhF9jW_sXSfUZkoblGhj4jqWYxWkPOO1u3Re3U/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

  <form class="bitpay-form" action="https://bitpay.com/checkout" method="post" >
    <input type="hidden" name="action" value="cartAdd" />
    <input type="hidden" name="data" value="UbmyXJFbCfxmrjjA7YmK6F" />
    <input type="image" src="https://bitpay.com/img/button4.png" border="0" name="submit" alt="BitPay, pay with bitcoins." >
  </form>
</section>
