<a href='#content' tabindex='1' class='accessibility-aid'>Skip to content</a>

<header class='site-header'>
  <div class='wrap'>

    <a class='site-logo' href='{{ site.baseurl }}/'>
      <p class='site-logo__title'>{{ site.title }}</p>
      <p class='site-logo__subtitle'>University of Toronto Computer Science Student Union</p>
    </a>

    <nav class='site-nav'>
      <a id='mobile-menu-icon' class='menu-icon' href='#'>
        <span>Menu</span>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 15">
          <path fill="#505050" d="M18 1.484c0 .82-.665 1.484-1.484 1.484H1.484C.664 2.968 0 2.304 0 1.484S.665 0 1.484 0h15.03C17.334 0 18 .665 18 1.484zm0 6.032C18 8.336 17.335 9 16.516 9H1.484C.664 9 0 8.335 0 7.516c0-.82.665-1.484 1.484-1.484h15.03c.82 0 1.486.664 1.486 1.484zm0 6c0 .82-.665 1.484-1.484 1.484H1.484C.664 15 0 14.335 0 13.516c0-.82.665-1.484 1.484-1.484h15.03c.82 0 1.486.664 1.486 1.484z"/>
        </svg>
      </a>

      <div class='trigger'>
        {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url contains link.url %}
            {% assign current = 'current' %}
          {% endif %}

          <a class='page-link {{ current }}' href='{{ link.url | prepend: site.baseurl }}'>{{ link.title }}</a>
        {% endfor %}
      </div>
    </nav>

  </div>
</header>
