<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - CSSU</title>

  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">

  <meta property="og:url" content="http://cssu.cdf.toronto.edu/">
  <meta property="og:title" content="Computer Science Student Union">
  <meta property="og:image" content="http://cssu.cdf.toronto.edu/img/icon-light.png">
  <meta property="og:description" content="The Computer Science Student Union, or CSSU for short, represents over 1200 Computer Science students who are either taking a Computer Science course or are part of a Computer Science POSt at the University of Toronto St. George campus.">
  <meta property="og:type" content="website">

  <link rel="icon" type="image/png" href="/img/favicon.png">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="author" href="/humans.txt">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->
</head>
