<li>
  {% if member.email %}
  <a href="mailto:{{ member.email }}" title="Email {{ member.name }}">
  {% else %}
  <a>
  {% endif %}
    {% if member.pic %}
      <img src="{{ 'member_photos/' | append: member.pic | append: '.jpg' | asset_path }}" alt="Photo of {{ member.name }}">
    {% else %}
      <img src="http://placehold.it/176.jpg&amp;text={{ member.name | truncatewords:1,'' }}" alt="Photo of {{ member.name }}">
    {% endif %}
    <p class="member-name">{{ member.name }}</p>
    {% if member.role %}
    <p class="member-role">{{ member.role }}</p>
    {% endif %}
    {% if member.year %}
    <p class="member-role">{{ member.year }}</p>
    {% endif %}
  </a>
</li>
