<section id="slideshow" class="slide-1">

  <a class="slideshow-nav" id="slideshow-prev">
    <svg width="6px" height="10px" xmlns="http://www.w3.org/2000/svg">
      <line y2="0" x2="6" y1="5" x1="0" stroke-width="1" stroke="#FFFFFF" fill="none"/>
      <line y2="10" x2="6" y1="5" x1="0" stroke-linecap="null" stroke-linejoin="null" stroke-width="1" stroke="#FFFFFF" fill="none"/>
    </svg>
  </a>

  <div id="slides">

    <ul id="slideshow-slides">
      {% for slide in site.data.slides %}
        <li class="slideshow-slide">
          <a class="slideshow-slide-content" href="{{ slide.link }}" style="background-image: url('/img/slides/{{ slide.pic }}.jpg')">
            <aside class="slideshow-slide-info">
              <hgroup>
                <h1>{{ slide.title }}</h1>
                <h2>{{ slide.text }}</h2>
              </hgroup>
              <div class="slide-link">
                <div class="slide-arrow">
                  <svg width="6px" height="10px" xmlns="http://www.w3.org/2000/svg">
                    <line y2="5" x2="6" y1="0" x1="0" stroke-width="1" stroke="#FFFFFF" fill="none"/>
                    <line y2="10" x2="0" y1="5" x1="6" stroke-linecap="null" stroke-linejoin="null" stroke-width="1" stroke="#FFFFFF" fill="none"/>
                  </svg>
                </div>
              </div>
            </aside>
          </a>
        </li>
      {% endfor %}
    </ul>

    <ul id="slideshow-cards">
      {% for slide in site.data.slides %}
        <li class="slideshow-card">{{ slide.title }}</li>
      {% endfor %}
    </ul>

  </div>

  <a class="slideshow-nav" id="slideshow-next">
    <svg width="6px" height="10px" xmlns="http://www.w3.org/2000/svg">
      <line y2="5" x2="6" y1="0" x1="0" stroke-width="1" stroke="#FFFFFF" fill="none"/>
      <line y2="10" x2="0" y1="5" x1="6" stroke-linecap="null" stroke-linejoin="null" stroke-width="1" stroke="#FFFFFF" fill="none"/>
    </svg>
  </a>

</section>

<script src="/js/slideshow.min.js"></script>
