<section id="slideshow" class="slide-1">
  <button type="button" class="slideshow-nav" id="slideshow-prev" title="Previous slide" aria-hidden="true">
    <svg width="6px" height="10px" xmlns="http://www.w3.org/2000/svg">
      <line y2="0" x2="6" y1="5" x1="0" stroke-width="1" stroke="#FFF"/>
      <line y2="10" x2="6" y1="5" x1="0" stroke-width="1" stroke="#FFF"/>
    </svg>
  </button>

  <div id="slides">
    <button type="button" id="slideshow-pause" aria-hidden="true">Pause</button>

    <ul id="slideshow-slides">
      {% for slide in site.data.slides %}
        <li class="slideshow-slide">
          <a class="slideshow-slide-content" href="{{ slide.link }}" style="background-image: url({{ 'slides/' | append: slide.pic | append: '.jpg' | asset_path }})">
            <aside class="slideshow-slide-info">
              <div class="slide-title">
                <h1>{{ slide.title }}</h1>
                <h2>{{ slide.text }}</h2>
              </div>
              <div class="slide-link">
                <div class="slide-arrow">
                  <svg width="6px" height="10px" xmlns="http://www.w3.org/2000/svg">
                    <line y2="5" x2="6" y1="0" x1="0" stroke-width="1" stroke="#FFF"/>
                    <line y2="10" x2="0" y1="5" x1="6" stroke-width="1" stroke="#FFF"/>
                  </svg>
                </div>
              </div>
            </aside>
          </a>
        </li>
      {% endfor %}
    </ul>

    <ul id="slideshow-cards">
      {% for slide in site.data.slides %}
        <li class="slideshow-card">{{ slide.title }}</li>
      {% endfor %}
    </ul>
  </div>

  <button type="button" class="slideshow-nav" id="slideshow-next" title="Next slide" aria-hidden="true">
    <svg width="6px" height="10px" xmlns="http://www.w3.org/2000/svg">
      <line y2="5" x2="6" y1="0" x1="0" stroke-width="1" stroke="#FFF"/>
      <line y2="10" x2="0" y1="5" x1="6" stroke-width="1" stroke="#FFF"/>
    </svg>
  </button>
</section>

{% javascript slideshow %}
