---
layout: page
title: About
permalink: /about/
---

<p>The Computer Science Student Union, or CSSU for short, represents over 1200 Computer Science students who are either taking a Computer Science course or are part of a Computer Science POSt at the University of Toronto St. George campus.</p>

<p>We offer a variety of services and events. We sell drinks and snacks out of our office in BA2283 and run events including our popular Games Night where students have the opportunity to socialize with classmates over games, of all kinds, all night long.</p>

<p>If you wish to get in touch with us, you can email us at <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#115;&#115;&#117;&#064;&#099;&#100;&#102;&#046;&#116;&#111;&#114;&#111;&#110;&#116;&#111;&#046;&#101;&#100;&#117;">&#099;&#115;&#115;&#117;&#064;&#099;&#100;&#102;&#046;&#116;&#111;&#114;&#111;&#110;&#116;&#111;&#046;&#101;&#100;&#117;</a>, stop by our office on the UofT St. George campus at BA2250, or you can contact one of our members directly from our members page.</p>

<p>You can also <a href="https://docs.google.com/document/d/1KNo62xN3E9IX6QqUXL9ngkWcYEGUfUTzVw0J6-wmFNM/edit" target="_blank">read our constitution here.</a></p>


<header class="post-header">
  <h1>Style</h1>
</header>

<p>If you're interested in the style guidelines for the CSSU, you can refer to the official <a href="/about/branding/">style guide</a>.</p>


<header class="post-header">
  <h1>Members</h1>
</header>

<p><a href="/about/pastmembers/">You can find lists of past members here</a>.</p>

<div class="members-page">
  <h2>2015 - 2016</h2>

  <h2>Executive team</h2>
  <ul class="members-list">
    {% for member in site.data.members.execs %}
      {% include member.html %}
    {% endfor %}
  </ul>
</div>
