*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $light-grey;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $light-grey;
  display: table;
  font: 400 16px/1.5em $fonts-body;
  width: 100%;
}

// Text
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
  margin: 0;
}

a {
  color: $blue;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $dark-blue;
  }
}

// Tables
th,
td {
  border: 1px solid $light-grey;
  padding: 0.25em 0.5em;
}

th {
  border-bottom-width: 2px;
}

th,
tr:nth-child(even) {
  background-color: $lighter-grey;
}

// Typeform
.typeform-widget {
  height: 700px;
  width: 100%;

  @include mobile {
    height: 300px !important;
  }
}

// iframes
.responsive-iframe {
  border-width: 0;
  height: 500px;
  width: 100%;
}
