$black      : #000;
$dark-grey  : #0d1117;
$mid-grey   : #18191a;
$grey       : #262626;
$light-grey : #d5d5d5;
$white      : #fff;

$fonts-body : 'Open Sans', 'Helvetica', 'Arial', sans-serif;

$radius     : 5px;
