:root {
  counter-reset: apparel-counter;
}

.apparel_design {
  border: 1px solid $light-grey;
  border-radius: $radius;
  display: inline-block;
  padding: 0.5em;
  vertical-align: top;
  width: 20em;

  figcaption {
    margin-top: 1em;
  }
}

.apparel_design__name {
  font-weight: 700;

  &::before {
    counter-increment: apparel-counter;
    content: counter(apparel-counter) '. ';
  }
}

.apparel_design__artist {
  font-size: 0.85em;
  font-style: italic;
}

.apparel_design__tags {
  margin-top: 0.5em;

  span {
    background: $light-grey;
    border-radius: $radius;
    display: inline-block;
    font-size: 0.85em;
    padding: 0.15em 0.5em;
  }
}
