.branding-colour {
  color: $white;
  display: inline-block;
  padding: 1em;
  text-align: center;
  width: 10em;
}

  #branding-colour__dark-grey {
    background-color: $dark-grey;
  }

  #branding-colour__mid-grey {
    background-color: $mid-grey;
  }

  #branding-colour__grey {
    background-color: $grey;
  }

  #branding-colour__light-grey {
    background-color: $light-grey;
    color: $dark-grey;
  }

  #branding-colour__lighter-grey {
    background-color: $lighter-grey;
    color: $dark-grey;
  }
