#store table {
  margin-bottom: 2em;
  table-layout: fixed;
  width: 100%;
}

.store-left,
.store-right {
  display: inline-block;
  vertical-align: top;
  width: 49%;

  @include narrow {
    display: block;
    padding: 0 !important;
    width: 100%;
  }
}

.store-right {
  padding-left: 1%;
}
