#store table {
  margin-bottom: 2em;
  table-layout: fixed;
  width: 100%;
}

.store-left,
.store-right {
  display: inline-block;
  vertical-align: top;
  width: 49%;

  @include narrow {
    display: block;
    padding: 0 !important;
    width: 100%;
  }
}

.store-right {
  padding-left: 1%;
}

.collapse {    
  width: 100%; 
  cursor: pointer; 
  text-align: left; 
  transition: 0.4s;    
} 

.active, .collapse:hover {
  background-color: rgb(238, 235, 235);
} 

.panel {    
  padding: 0 5px; 
  font-size: 13px; 
  display: none; 
  overflow: hidden
}