/* Imports */
/* ----------------------------------------------------------*/

@import 'fonts';
@import 'variables';
@import 'slideshow';


/* Basic resets */
/* ----------------------------------------------------------*/

html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

a {
    cursor: pointer;
}
