// Content wrapper
.wrap {
  margin: 0 auto;
  max-width: 125em;
  padding: 0 2em;
  width: 85%;

  @include narrow {
    width: 100%;
  }

  @include mobile {
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
}

// Hidden accessibility shortcut
.accessibility-aid {
  height: 1px;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:focus {
    height: auto;
    opacity: 1;
    top: 0;
    width: auto;
    z-index: 1;

    color: $white;
    padding: 0.5em 1em;
    font-weight: 600;
  }
}

// Site header
.site-header {
  background: $dark-grey;
  color: $white;
  display: table-row;
  width: 100%;

  .wrap {
    background: transparent image-url('cssu.svg') no-repeat right 2em center;
    background-size: 10em 10em;
    min-height: 9em;
    padding-bottom: 3em;
    padding-top: 3em;

    @include mobile {
      background-image: none;
    }
  }
}

.site-logo,
.site-logo:hover,
.site-logo:visited {
  display: block;
  color: $white;
  text-decoration: none;
}

  .site-logo__title {
    font-family: $fonts-logo;
    font-size: 2.875em;
    line-height: 3.5rem;
    letter-spacing: 4px;
    z-index: 1;
  }

  .site-logo__subtitle {
    color: $light-grey;
  }

.site-nav {
  margin-top: 2em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    min-width: 190px;
    a {
      padding: 15px;
      line-height: 20px;
    }
  }

  li {
    position: relative;
  }
  

  @include mobile {
    background-color: $white;
    border: 1px solid $light-grey;
    margin-top: 0;
    position: fixed;
    right: 0.5em;
    top: 0.5em;
    z-index: 1000000;
  }

  .menu-icon {
    color: $dark-grey;
    display: none;
    float: right;
    line-height: 2em;
    padding: 0 0.5em;
    text-align: center;
    text-transform: uppercase;
    width: 6em;

    @include mobile {
      display: block;
    }

    &:hover {
      text-decoration: none;
    }

    span,
    svg {
      display: inline-block;
      vertical-align: middle;
    }

    span {
      margin-right: 0.5em;
    }

    svg {
      height: 15px;
      width: 18px;
    }
  }

  .trigger {
    @include mobile {
      border-top: 1px solid $light-grey;
      clear: both;
      display: none;
      margin-bottom: 5px;
    }
  }
  .nav-dropdown {
    position: absolute;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    display: none;
    padding-top: 0.5rem;

    @include mobile {
      position: relative;
    }
  }

  .page-link.drop:hover + .nav-dropdown {display: block;}
  .nav-dropdown:hover {display: block;}

  .page-link {
    border-bottom: 1px solid transparent;
    color: $white;
    font-size: 1.25em;
    font-weight: 300;
    margin-right: 1.25em;
    padding: 0.25em 0;
    transition: background-color 0.3s, border-color 0.3s;

    &:hover {
      border-color: $white;
      text-decoration: none;
    }

    @include mobile {
      display: block;
      color: $black;
      text-align: right;
      line-height: 1.25;
      padding: 5px 10px 5px 20px;
      margin: 0;

      &:hover {
        background-color: $lighter-grey;
      }
    }
  }

  .current {
    border-color: $white;
  }
}

body.showmenu .trigger {
  @include mobile {
    display: block;
  }
}

// Site footer
.site-footer {
  background-color: $grey;
  display: table-row;
  width: 100%;

  .wrap {
    background-color: $mid-grey;
    color: $white;
    display: table;
    height: 100%;
    overflow: hidden;
    padding: 0;
  }
}

.footer-info,
.footer-map {
  display: table-cell;
  width: 50%;
}

.footer-info {
  padding: 3em 2em;
  vertical-align: middle;

  @include mobile {
    display: block;
    padding: 3.5em 12px 2em;
    width: 100%;
  }

  .top {
    border: 1px solid $white;
    border-radius: 50%;
    color: $white;
    display: block;
    font-size: 0.9em;
    height: 2em;
    margin-bottom: 2em;
    opacity: 0.4;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.3s;
    width: 2em;

    &:hover {
      opacity: 1;
    }
  }
}

  .footer-heading {
    font: 300 2.5em $fonts-logo;
    letter-spacing: 1px;
  }

  .footer-contact {
    li {
      list-style: none;
      font-weight: 300;
      margin: 0.5em 0;
    }
  }

  .footer-social {
    margin: 1.5em 0 3em 0;

    li {
      border: 1px solid $white;
      border-radius: 50%;
      display: inline-block;
      height: 42px;
      list-style: none;
      margin-right: 0.5em;
      transition: background-color 0.3s ease;
      width: 42px;

      &:hover {
        background-color: lighten($mid-grey, 10%);
      }
    }

    a {
      position: relative;

      &::after {
        background: $grey;
        bottom: 300%;
        color: $white;
        content: attr(title);
        left: 0;
        padding: 5px 15px;
        position: absolute;
        transition: all 0.4s ease;
        white-space: nowrap;
        opacity: 0;
        z-index: -1;
      }

      &::before {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #242424;
        bottom: 300%;
        content: '';
        height: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        transition: all 0.4s ease;
        width: 0;
        z-index: -1;
      }

      &:hover::after {
        bottom: 250%;
      }

      &:hover::before {
        bottom: 210%;
      }

      &:hover::after,
      &:hover::before {
        opacity: 1;
        z-index: 1;
      }
    }
  }

  .footer-uoft a {
    background-size: 275px 18px !important;
    background: transparent image-url('uoft.svg') no-repeat;
    display: block;
    height: 18px;
    opacity: 0.4;
    transition: opacity 0.3s;
    text-indent: -10000em;
    width: 275px;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }

.footer-map {
  height: 100%;
  vertical-align: top;
  width: 100%;

  @include mobile {
    display: block;
    height: 300px;
    width: 100%;
  }

  .gm-style img {
    background: none !important;
    max-width: none !important;
  }

  .gm-style-iw {
    color: #000;
    display: block;
    height: auto !important;
    line-height: 18px;
    overflow: hidden !important;
    white-space: nowrap;
    width: 100% !important;
  }

  #gmap_canvas {
    height: 100%;
    width: 100%;
  }
}

// Page content
.page-content {
  display: table-row;
  height: 100%;

  .wrap {
    background-color: $white;
    height: 100%;
  }
}