/* Slideshow styles */
/* ----------------------------------------------------------*/

.slideshow-content {
  background-color: $grey;
}

// The whole module
#slideshow {
  display: table;
  height: 500px;
  margin: 0 auto;
  max-width: 2060px;
  position: relative;
  width: calc(85% + 60px);
}

// Previous/next buttons
.slideshow-nav {
  cursor: pointer;
  display: table-cell;
  opacity: 0.5;
  text-align: center;
  transition: opacity 0.3s;
  vertical-align: middle;
  width: 30px;

  &:hover { opacity: 1; }
}

#slides {
  display: table-cell;
  width: calc(100% + 60px);
}

// Slides container
#slideshow-slides {
  height: 450px;
}

// Pause button
#slideshow-pause {
  background-color: rgba($grey, 0.8);
  bottom: 5em;
  cursor: pointer;
  display: block;
  height: 40px;
  left: 3em;
  position: absolute;
  text-indent: -3000em;
  transition: background-color 0.25s;
  width: 40px;
  z-index: 1000;

  &:hover {
    background-color: $grey;
  }

  &::before,
  &::after {
    background-color: #fff;
    border-radius: 2px;
    content: ' ';
    display: inline-block;
    height: 20px;
    position: absolute;
    top: 10px;
    width: 3px;
  }

  &::before {
    left: 12px;
  }

  &::after {
    right: 12px;
  }

  &.paused::before {
    background-color: transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    border-top: 10px solid transparent;
    height: 0;
    left: 16px;
    width: 0;
  }

  &.paused::after {
    display: none;
  }
}

// The individual slide
.slideshow-slide {
  height: calc(100% - 3.5em);
  list-style: none;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
  width: calc(100% - 60px);
  z-index: 0;
}

// The content of the slide
.slideshow-slide-content {
  background-position: center center;
  background-size: cover;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;

  &:hover {
    .slideshow-slide-info {
      background-color: $grey;
      transform: translateX(1em);
    }
  }
}

.slideshow-slide-info {
  background-color: rgba($grey, 0.8);
  bottom: 2em;
  color: #fff;
  max-width: 40%;
  padding: 1.5em;
  position: absolute;
  right: 2em;
  transition: background-color 0.25s, transform 0.25s;

  .slide-title {
    display: table-cell;
    padding-right: 2em;

    h1 {
      font-size: 1.75em;
      font-weight: 300;
      line-height: 1.25em;
      margin-bottom: 0.5em;
    }

    h2 {
      font-size: 1.25em;
      font-weight: 300;
      line-height: 1.4em;
    }
  }

  .slide-link {
    display: table-cell;
    vertical-align: middle;

    .slide-arrow {
      border-radius: 50%;
      border: 1px solid #fff;
      height: 2em;
      padding-left: 0.75em;
      padding-top: 0.15em;
      width: 2em;

      svg {
        margin: 0 auto;
      }
    }
  }
}

// The title links at the bottom
#slideshow-cards {
  display: table;
  position: relative;
  table-layout: fixed;
  width: 100%;
  z-index: 1000;
}

// The individual link "card"
.slideshow-card {
  background-color: $grey;
  border: 1px solid $dark-grey;
  color: #fff;
  cursor: pointer;
  display: table-cell;
  font-weight: 300;
  height: 3.5em;
  list-style: none;
  padding: 1em 0.75em;
}

// Handles the current state
@for $i from 1 through 4 {
  .slide-#{$i} {
    .slideshow-slide:nth-child(#{$i}) {
      opacity: 1;
      z-index: 100;
    }

    .slideshow-card:nth-child(#{$i}) {
      background-color: $dark-grey;
    }
  }
}

// Media queries
@media screen and (max-width: 750px) {
  ul.slideshow-slides li a aside {
    max-width: 65%;
  }
}

@media screen and (max-width: 600px) {
  #slideshow,
  #slides {
    width: 100%;
  }

  #slideshow,
  #slideshow-slides {
    height: 300px;
  }

  #slideshow-pause {
    left: inherit;
    right: 1em;
    top: 1em;
  }

  .slideshow-slide {
    height: 100%;
    width: 100%;
  }

  .slideshow-slide-info {
    max-width: 100%;
    width: 100%;
    bottom: 0;
    left: 0;

    .slideshow-slide-content:hover & {
      transform: none;
    }
  }

  .slide-title {
    width: calc(100% - 2em);
  }

  .slideshow-nav,
  #slideshow-cards {
    display: none;
  }
}
