/* Style guide */
/* ----------------------------------------------------------*/

.style-colour {
  color: $white;
  padding: 1em;
  text-align: center;
  width: 10em;
}

  #style-colour__dark-grey {
    background-color: $dark-grey;
  }

  #style-colour__mid-grey {
    background-color: $mid-grey;
  }

  #style-colour__grey {
    background-color: $grey;
  }

  #style-colour__light-grey {
    background-color: $light-grey;
    color: $dark-grey;
  }
