@import 'core';
@import 'slideshow';


/* Base */
/* ----------------------------------------------------------*/

html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #d5d5d5;
}

html, body { height: 100%; }

body {
  background-color: #d5d5d5;
  display: table;
  font: 400 16px/1.5em 'Open Sans', Helvetica, Arial, sans-serif;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }


/* Tables */

th, td {
  border: 1px solid lighten($grey, 50%);
  padding: 0.25em 0.5em;
}

th { border-bottom-width: 2px; }

th, tr:nth-child(even) {
  background-color: lighten($grey, 80%);
}


/* Utility */

.wrap {
  margin: 0 auto;
  max-width: 2000px;
  padding: 0 30px;
  width: 85%;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Accessibility */
.accessibility-aid {
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  margin: 0;

  &:focus {
    height: auto;
    width: auto;
    clip: auto;
    z-index: 1;
    top: 0;

    color: #fff;
    padding: 0.5em 1em;
    font-weight: 600;
  }
}

/* Site header */

.site-header {
  background: #0d1117;
  color: #fff;
  display: table-row;
  width: 100%;

  .wrap {
    background: transparent image-url('logo.png') no-repeat right 30px center;
    background-size: 165px 165px;
    min-height: 150px;
    padding-bottom: 3em;
    padding-top: 3em;
  }
}

.site-logo,
.site-logo:hover,
.site-logo:visited {
  display: block;
  color: #fff;
  text-decoration: none;
}

  .site-logo__title {
    font-family: 'Nexa Light';
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 4px;
    z-index: 1;
  }

  .site-logo__subtitle {
    color: #bebfbf;
  }

.site-nav {
  margin-top: 2em;

  .menu-icon { display: none; }

  .page-link {
    border-bottom: 1px solid transparent;
    color: #fff;
    font-size: 1.25em;
    font-weight: 300;
    margin-right: 20px;
    padding: 0.25em 0;
    transition: border-color 0.3s;

    &:hover {
      border-color: #fff;
      text-decoration: none;
    }
  }

  .current {
    border-color: #fff;
  }
}


/* Site footer */

.site-footer {
  background-color: #242424;
  display: table-row;
  width: 100%;

  .wrap {
    background-color: $mid-grey;
    color: #fff;
    display: table;
    height: 100%;
    padding: 0;
  }
}

.footer-info,
.footer-map {
  display: table-cell;
  width: 50%;
}

.footer-info {
  padding: 3em 30px;
  vertical-align: middle;

  .top {
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 0.9em;
    height: 2em;
    margin-bottom: 2em;
    opacity: 0.4;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.3s;
    width: 2em;

    &:hover {
      opacity: 1;
    }
  }
}

  .footer-heading {
    font: 300 2.5em 'Nexa Light';
    letter-spacing: 1px;
  }

  .footer-contact {
    li {
      list-style: none;
      font-weight: 300;
      margin: 0.5em 0;
    }
  }

  .footer-social {
    margin: 1.5em 0 3em 0;

    li {
      border-radius: 50%;
      border: 1px solid #fff;
      display: inline-block;
      height: 42px;
      list-style: none;
      margin-right: 0.5em;
      transition: background-color 0.4s ease;
      width: 42px;

      &:hover {
        background-color: lighten($mid-grey, 10%);
      }
    }

    a {
      position: relative;

      &::after {
        background: #242424;
        bottom: 300%;
        color: #fff;
        content: attr(title);
        left: 0;
        padding: 5px 15px;
        position: absolute;
        transition: all 0.4s ease;
        white-space: nowrap;
        opacity: 0;
        z-index: -1;
      }

      &::before {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #242424;
        bottom: 300%;
        content: "";
        height: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        transition: all 0.4s ease;
        width: 0;
        z-index: -1;
      }

      &:hover::after {
        bottom: 250%;
      }

      &:hover::before {
        bottom: 210%;
      }

      &:hover::after,
      &:hover::before {
        opacity: 1;
        z-index: 0;
      }
    }
  }

  .footer-uoft a {
    background-size: 275px 18px !important;
    background: transparent image-url('uoft.png') no-repeat;
    display: block;
    height: 18px;
    opacity: 0.4;
    transition: opacity 0.3s;
    text-indent: -10000em;
    width: 275px;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }

.footer-map {
  height: 100%;
  vertical-align: top;
  width: 100%;

  .gm-style img {
    background: none !important;
    max-width: none !important;
  }

  .gm-style-iw {
    color: #000;
    display: block;
    height: auto !important;
    line-height: 18px;
    overflow: hidden !important;
    white-space: nowrap;
    width: 100% !important;
  }

  #gmap_canvas {
    height: 100%;
    width: 100%;
  }
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  display: table-row;
  height: 100%;

  .wrap {
    background-color: #fff;
    height: 100%;
  }
}

.responsive-iframe {
  border-width: 0;
  width: 100%;
  height: 500px;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home {
  padding-bottom: 1.5em;
  width: 100%;

  h1 {
    background-color: $grey;
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0.75em;
    width: 100%;
  }
}

#hero-text {
  background-color: #e1e1e1;
  margin: 0 auto;
  max-width: 2000px;
  padding: 3.5em 1em;
  text-align: center;
  width: 85%;

  span {
    display: block;
    font-size: 2.25em;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom:  1.5em;

    strong {
      font-weight: 600;
    }
  }

  p {
    a {
      border-bottom: 1px dotted $dark-grey;
      color: $dark-grey;
      font-weight: 600;

      &:hover { text-decoration: none; }
    }

    & + p {
      margin-top: 1em;
    }
  }
}

#home-row {
  display: table;
  padding-top: 1.5em;
  width: 100%;
}

  #home-row-inner {
    display: table-row;
  }

  #home-news,
  #home-events {
    display: table-cell;
    vertical-align: top;
    width: 50%;

    & > a:hover {
      text-decoration: none;
    }

    .empty {
      min-height: 0 !important;
      text-align: center;
    }
  }

  #home-news {
    padding-right: 15px;
  }

  #home-events {
    padding-left: 15px;

    li { min-height: 5em; }

    .event-date {
      background-color: $grey;
      color: #fff;
      float: left;
      height: 5em;
      margin-right: 15px;
      text-align: center;
      padding: 10px;
      width: 5em;

      .event-month {
        font-size: 1em;
        margin-bottom: 5px;
        text-transform: uppercase;
      }

      .event-day { font-size: 2.25em; }
    }
  }

  #home-row .posts {
    background-color: #e1e1e1;
    padding: 20px;

    li + li { margin-top: 20px; }

    a { color: $grey; }
  }

.posts {
  list-style-type: none;

  li + li { margin-top: 1.5em; }

  .post-link {
    color: $grey;
    display: block;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 0.9em;
  }
}

.page-list {
  margin: 0 !important;
  padding: 0 !important;
}

ul.members-list {
  a {
    color: $grey;

    &:hover { text-decoration: none; }
  }

  li {
    display: inline-block;
    padding: 0.75em;
    transition: background-color 0.3s;
    vertical-align: top;

    &:hover { background-color: #eee; }

    img {
      background-color: #eee;
      border-radius: 50%;
      border: none;
      display: block;
      height: 5.5em;
      width: 5.5em;
      margin: 0 auto 0.5em;
    }
  }
}

  .member-name { font-weight: 600; }

  .member-role { font-weight: 300; }

#home-members {
  margin-top: 30px;
  width: 100%;

  & > a:hover {
    text-decoration: none;
  }
}

  .members {
    background-color: #e1e1e1;
    text-align: center;
    overflow-x: auto;
    width: 100%;

    ul {
      max-width: 0;  // This prevents it from being too wide
      padding: 20px;
      white-space: nowrap;
      width: auto;
    }

    li {
      min-width: 10em;
    }
  }

.members-page {
  text-align: center;

  a { color: $grey; }

  ul {
    margin: 0 !important;
    padding: 0 !important;

    & + h2 {
      margin-top: 2em;
    }

    li {
      width: 11em;
    }
  }
}


/* Post styles */
/* ----------------------------------------------------------*/

.post { padding: 1.5em 0; }

.post-header {
  margin: 10px 0 30px;

  h1 {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: -1.75px;
    line-height: 1;
    margin-bottom: 0.4em;
  }

  .meta {
    font-size: 15px;
    color: #818181;
    margin-top: 5px;
  }
}

.post-content {
  position: relative;

  > * { margin: 20px 0; }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: 300;
    margin: 40px 0 20px;
  }

  h2 {
    font-size: 32px;
    letter-spacing: -1.25px;
  }

  h3 {
    font-size: 26px;
    letter-spacing: -1px;
  }

  h4 {
    font-size: 20px;
    letter-spacing: -1px;
  }

  blockquote {
    border-left: 4px solid #e8e8e8;
    padding-left: 20px;
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    font-style: italic;
    margin: 30px 0;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.post {
  pre, code {
    border-radius: 3px;
    border: 1px solid #d5d5e9;
    background-color: #eef;
    padding: 8px 12px;
    font-size: 15px;
    overflow: scroll;
  }

  code { padding: 1px 5px; }

  ul, ol { margin-left: 1.35em; }

  pre code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }

  /* terminal */
  pre.terminal {
    border-radius: 3px;
    border: 1px solid #000;
    background-color: #333;
    color: #fff;
  }

  pre.terminal code { background-color: #333; }
}


/* Tag clouds */

.page-list {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}

.tag-cloud {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  width: 20%;

  h3 {
    margin-top: 0;
  }

  a {
    display: block;
    padding: 0.25em 0;
  }
}

@media screen and (max-width: 600px) {

  .page-list,
  .tag-cloud {
    display: block;
    width: 100%;
  }

  .tag-cloud {
    margin-top: 2em;
  }

}


/* Sponsor styles */
/* ----------------------------------------------------------*/

.partners-page {
  text-align: center;
}

.sponsor-grid {
  background-color: #fff;
  display: block;
  margin-bottom: 15px;
  margin-right: 15px;
  position: relative;

  a {
    vertical-align: middle;
    display: inline-block;
    padding: 15px;
  }
}

  .partner-logo {
    max-height: 150px;
    max-width: 325px;
  }


/* Style guide */
/* ----------------------------------------------------------*/

.style-colour {
  color: #fff;
  padding: 1em;
  text-align: center;
  width: 10em;
}

  #style-colour__dark-grey {
    background-color: $dark-grey;
  }

  #style-colour__mid-grey {
    background-color: $mid-grey;
  }

  #style-colour__grey {
    background-color: $grey;
  }


/* Store */
/* ----------------------------------------------------------*/

#store table {
  width: 100%;
  margin-bottom: 2em;
  table-layout: fixed;
}

.store-left,
.store-right {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.store-right {
  padding-left: 1%;
}


/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */


/* Media queries */
/* ----------------------------------------------------------*/

@media screen and (max-width: 750px) {

  .wrap, #hero-text { width: 100%; }

  #home-news,
  #home-events {
    display: block !important;
    padding: 0 !important;
    width: 100% !important;
  }

  #home-news {
    margin-bottom: 30px;
  }

  .store-left,
  .store-right {
    display: block;
    padding: 0 !important;
    width: 100%;
  }

}

@media screen and (max-width: 600px) {

  .wrap { padding-left: 12px; padding-right: 12px; }

  .site-header .wrap {
    background-image: none;
  }

  .site-nav {
    background-color: #fff;
    border: 1px solid lighten($dark-grey, 50%);
    margin-top: 0;
    position: fixed;
    right: 8px;
    top: 8px;
    z-index: 10;
  }

  .site-nav .menu-icon {
    color: $dark-grey;
    display: block;
    float: right;
    font-size: 16px;
    line-height: 33px;
    padding: 0 0.5em;
    text-align: center;
    text-transform: uppercase;
    width: 96px;

    &:hover { text-decoration: none; }

    span,
    svg {
      display: inline-block;
      vertical-align: middle;
    }

    span { margin-right: 0.5em; }

    svg { width: 18px; height: 15px; }
  }

  .site-nav .trigger {
    border-top: 1px solid lighten($dark-grey, 50%);
    clear: both;
    display: none;
    margin-bottom: 5px;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    color: #000;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px 5px 20px;
    margin: 0;
  }

  .post-header  h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .footer-info {
    display: block;
    padding: 3.5em 12px 2em;
    width: 100%;
  }

  .footer-map {
    display: block;
    height: 300px;
    width: 100%;
  }

}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  .side-header .wrap {
    background-image: image-url('logo@2x.png') !important;
  }

  .footer-uoft a {
    background-image: image-url('uoft@2x.png') !important;
  }

}
