<!DOCTYPE html>
<html lang='en'>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class='slideshow-content'>
      {% include slideshow.html %}
    </div>

    <div id='hero-text'>
      <span>We're here for <strong>you</strong>.</span>

      <p>We represent over 1200 Computer Science students at the University of Toronto St. George campus. You can <a href='/about/' title='About the CSSU'>learn more about we do here</a>.</p>

      <p>We're located right beside the south elevators on the second floor of <a href='#footer' title='Where to find us'>Bahen Centre for Information Technology</a>.</p>

      <p>Come by, <a href='/store/' title='We sell snacks!'>grab some snacks</a>, and say hello!</p>

      <p><small>Check out <a href='https://docs.google.com/document/d/1KNo62xN3E9IX6QqUXL9ngkWcYEGUfUTzVw0J6-wmFNM/edit'>our constitution</a> and <a href='https://docs.google.com/document/d/1FI7NU-B-lHJq7C7jKqhQ2XCHG-a4njXFYUH-EVZEGJE'>our office code</a> for more information.</small></p>
    </div>

    <div id='content' class='page-content' tabindex='-1'>
      <div class='wrap'>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
