<figure class="apparel_design">
  <a href="{{ design.img }}">
    <img src="{{ design.img }}" alt="">
  </a>

  <figcaption>
    <p class="apparel_design__name">{{ design.name }}</p>
    {% if design.artist %}
      <p class="apparel_design__desc">By: {{ design.artist }}</p>
    {% endif %}
    {% if design.price %}
      <p class="apparel_design__desc">Price: {{ design.price }}</p>
    {% endif %}
    {% if design.tags %}
      <div class="apparel_design__tags">
        {% for tag in design.tags %}
          <span>{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}
  </figcaption>
</figure>
